body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fafafa;
}

nav > a:hover {
  text-decoration: none;
  background: white;
  color: #333;
  border-radius: 2px;
  padding: 2px;
}

nav > a:visited {
  text-decoration: none;
}

.gallery > img {
  width: 200px;
  height: 100px;
}

header {
  background: #056aad;
  color: #fff;
  text-align: center;
  padding: 1em 0;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 20px;
}

section {
  padding: 20px;
  text-align: center;
}

.gallery img {
  margin: 10px;
  border-radius: 10px;
}

form {
  display: inline-block;
  text-align: left;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px #ccc;
}

form input,
form textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}

button {
  background: #03d9f5;
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

footer {
  background: #056aad;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}
